:root {
    --base-bg : #0d0d0d;
    --cards : #1c1c1c;
    --primary-accent : #d4af37;
    --text-color: #f5f5f5;
    --text-sub: #b3b3b3;
    --secondary-accent: #2563eb;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    box-sizing: border-box;
 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: linear-gradient(145deg, #735eeb,#d972ff);
  }

  .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .search-box {
    display: flex;
    align-items: center;
  }

  .search-box button {
    padding: 6px 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  .search-box button:hover {
    background-color: #45a049;
  }
.loader {
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 18pt;
    font-weight: 800;
}

body {

    background-color: var(--base-bg);
    color: var(--text-color);
}

main {
    padding: 1em 2em 1em 2em;
}

fieldset {
  display: none;
  border: 1px solid var(--secondary-accent);    /* Solid gray border */
  border-radius: 10px;       /* Rounded corners */
  padding: 20px;             /* Space inside the border */
  margin: 15px 0;            /* Space above and below */
}

legend {
  background-color: var(--base-bg); /* Dark background for the label */
  color: var(--text-color);            /* White text color */
  padding: 5px 10px;       /* Space around the text */
  font-weight: bold;       /* Bold text */
}

label {
    font-weight: 600;
    color: var(--text-color);
    font-size: 16pt;
}

#_formContainer {
    display: none;
    background-color: var(--cards);
    overflow: hidden;
    border: 1px solid var(--primary-accent);
    border-radius: 10px;
    color: var(--base-bg);
}

#_normalArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5pt 2em 5pt 2em;
}

#_formElements {
    padding: inherit;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#_formElements select {
    padding: none;
    background: var(--base-bg);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    height: 2em;
    width: 15em;
    font-size: 13pt;
    text-align: center;
}
#_formElements select:focus {
    outline: none;
    border: 2px solid;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.15);
    border-color: var(--primary-accent);
}

#_selectBoxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2em 0 0;
}

#_selectBoxes label {
    padding-right: 0.65em;
}

#_radioBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#_radioBoxes input[type="radio"] {
    position: fixed;
    opacity: 0;
    width: 0;
    }

#_radioBoxes label {
    display: inline-block;
    background-color: var(--base-bg);
    padding: 5px 10px;
    border: 2px solid var(--primary-accent);
    font-size: 12pt;
    border-radius: 4px;
}

#_radioBoxes input[type="radio"]:checked + label {
    background-color:#72839e;
    border-color: #c42f59;
}

#_searchArea {
    padding: 0 0 1em 2em;
    display: flex;
    justify-content: flex-start;
}

#_searchArea input {
    width: 20em;
    height: 2.5em;
    background-color: var(--base-bg);
    outline: none;
    border: 2px solid var(--secondary-accent);
    border-radius: 5px;
    color: var(--text-sub);
    text-align: center;
}

#_searchArea input:focus {
    border-color: var(--primary-accent);
    outline: none;
}

#_submitDiv {
    display: flex;
    justify-content: center;;
    padding: 0.5em;
}

#_submitDiv input {
    width: 10em;
    height: 2.25em;
    background-color: #3b82f6;
    font-size: 13pt;
    border: 2px solid var(--primary-accent);
    border-radius: 4px;
    color: var(--text-sub);
}
#_submitDiv input:hover {
    background-color:#72839e;
    border-color: #c42f59;
}

#_contentArea {
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
    justify-content: center;
    align-items: center;
}

#_scheduleDiv {
    display: flex;
    flex-direction: column-reverse;
    min-width: 95%;
}


#_schedulePrev, #_scheduleToday, #_scheduleUpcoming {
    display: flex;
    overflow: hidden;
    background-color: var(--cards);
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--primary-accent); 
    width: 100%;
    flex-wrap: wrap;
}

#_heading {
    padding-bottom: 1rem;
    font-size: 20pt;
    font-weight: 600;
}

#_schedulePrev {
#_matchDate, #_vod {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

#_logo, #_name, #_score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
}
}
#_scheduleToday {
    #_matchDate, #_logo, #_name, #_score {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
    }
}
#_scheduleUpcoming {
    #_matchDate, #_logo, #_name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16%;
    }
}



#_logo img {
    height: 3em;
    width: 3em;
}

#_vod select {
    padding: none;
    background: var(--base-bg);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    height: 2em;
    min-width: 100%;
    font-size: 13pt;
    text-align: center;
}
#_vod select:focus {
    outline: none;
    border: 2px solid;
    box-shadow: 0 0 0 3px rgba(59,130,246,0.15);
    border-color: var(--primary-accent);
}
/*
#_playerCard {
  max-width: 100%;
  height: 300px;
  display: flex;
  background: linear-gradient(145deg, #1e293b, #0f172a);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
  color: #fff;
  transition: 0.3s ease;
}
#_playerImage {
    width: 30%;
    height: 100%;
    padding-right: 2rem;
    align-items: center;
}
#_playerImage img {
    width: 100%;
    height: 100%;
}


#_playerDetails {
    width: 70%;
    padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#_playerName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#_playerName h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

#_teamTag {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #3b82f6;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-sub);
}

#_rating, #_mvp, #_rank {
    background-color: var(--primary-accent);
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
}



#_teamTag img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

#_stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#_statBox {
  background: rgba(255,255,255,0.05);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  columns: var(--text-sub);
  font-size: 13px;
  font-weight: 600;
  transition: 0.2s;
}
*/
/*Team Card Section*/

#_teamCard, #_playerCard {
    background: linear-gradient(145deg, #1e293b, #0f172a);;
    display: flex;
    border: 2px solid var(--primary-accent);
    border-radius: 20px;
    min-width: 95%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}
#_teamLogo {
    display: flex;
    justify-content: center;
    width: 30%;
    max-height: 10rem;
    align-items: center;
}

#_teamStats, #_playerDetails {
    width: 70%;
    display: flex;
    flex-direction: column;
    
}
#_teamDet {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

#_statArea, #_stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#_teamName, #_teamRank, #_rating, #_mvp, #_rank  {

    min-width: 3rem;
    margin: 10px;
    font-size: 18px;
    min-height: 1rem;
    padding: 6px 14px;
    border-radius: 20px;
    color: white;
}

#_teamName, #_teamTag {
    background-color: var(--secondary-accent);
}

#_teamRank, #_rating, #_mvp, #_rank {
    background-color: var(--primary-accent);
}

#_statsBox, #_statBox {
    font-size: 15px;
    background: rgba(255,255,255,0.05);
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

#_playerName h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

#_teamTag {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #3b82f6;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-sub);
}
#_playerName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

#_playerImage {
    width: 30%;
    max-height: 18rem;
    padding-right: 2rem;
    align-items: center;
}
#_playerImage img {
    width: 100%;
    height: 100%;
}

/*Style fotm startpage*/

#_scheduleRadio {
    display: flex;
    justify-content: space-evenly;
    min-width: 60%;
    padding-bottom: 1rem;
}

#_scheduleRadio input[type="radio"] {
    position: fixed;
    opacity: 0;
    width: 0;
    }

#_scheduleRadio label {
    display: inline-block;
    background-color: var(--base-bg);
    padding: 5px 10px;
    border: 2px solid var(--primary-accent);
    font-size: 12pt;
    border-radius: 4px;
}

#_scheduleRadio input[type="radio"]:checked + label {
    background-color:#72839e;
    border-color: #c42f59;
}





/*Mobile Responsive design*/

@media (max-width: 700px) {
  #_playerCard {
    flex-direction: column;
    width: 340px;
    height: auto;
  }

  #_playerImage {
    width: 100%;
    height: 200px;
  }

  #_playerDetails {
    width: 90%;
  }
}
